{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["cva"],
  "arrowParens": "always",
  "bracketSpacing": true,
  "printWidth": 100,
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "endOfLine": "auto"
}
