@import 'tailwindcss';

:root {
  --color-primary: #11264f;
  --color-secondary: #aa8845;
}

@theme inline {
  --animate-ticker: ticker 25s linear infinite;
  --animate-wiggle: wiggle 0.25s ease-in-out infinite;
  --breakpoint-xs: 20rem;
  --breakpoint-lg: 62rem;
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
}

@layer base {
  @keyframes ticker {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(calc(-100% - 6rem));
    }
  }

  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(0deg);
    }

    25% {
      transform: rotate(-10deg);
    }

    50% {
      transform: rotate(10deg);
    }
  }

  .text-gradient {
    @apply bg-linear-180 from-[#dab76b] to-[#eace8e] bg-clip-text text-transparent;
  }
}

@layer components {
  .slick-list {
    @apply -mx-3!;
  }

  .slick-slide > div {
    @apply flex gap-6 px-3;
  }

  .slick-slide > div > div {
    @apply flex-1;
  }

  .link-footer {
    @apply relative pb-0.5 text-white before:absolute before:bottom-0 before:left-0 before:h-px before:w-full before:origin-left before:scale-x-0 before:bg-current before:transition-transform before:duration-300 before:content-[""] hover:before:scale-x-100;
  }

  .border-comment {
    background:
      linear-gradient(to right, #fff, #fff) padding-box,
      linear-gradient(to bottom, #a2a2a2, #ffffff) border-box;
    border: 4px solid transparent;
  }

  .afu {
    &.ant-form {
      &.ant-form-vertical {
        & .ant-form-item {
          & .ant-form-item-required {
            @apply flex-row-reverse;

            &::after {
              @apply hidden;
            }

            &::before {
              @apply ml-1;
            }
          }
        }
      }
    }

    &.ant-form-item-label {
      @apply font-semibold;
    }
  }
}
