@import 'tailwindcss';

:root {
  --color-primary: #11264f;
}

@theme inline {
  --animate-ticker: ticker 25s linear infinite;
  --color-primary: var(--color-primary);
}

@layer base {
  @keyframes ticker {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(calc(-100% - 6rem));
    }
  }

  .text-gradient {
    @apply bg-linear-180 from-[#dab76b] to-[#eace8e] bg-clip-text text-transparent;
  }
}
