@import 'tailwindcss';

:root {
  --color-primary: #11264f;
  --color-secondary: #aa8845;
}

@theme inline {
  --animate-ticker: ticker 25s linear infinite;
  --breakpoint-xs: 20rem;
  --breakpoint-lg: 62rem;
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
}

@layer base {
  @keyframes ticker {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(calc(-100% - 6rem));
    }
  }

  .text-gradient {
    @apply bg-linear-180 from-[#dab76b] to-[#eace8e] bg-clip-text text-transparent;
  }
}

@layer components {
  .slick-list {
    @apply -mx-3!;
  }

  .slick-slide > div {
    @apply flex gap-6 px-3;
  }

  .slick-slide > div > div {
    @apply flex-1;
  }

  .link-footer {
    @apply relative pb-0.5 text-white before:absolute before:bottom-0 before:left-0 before:h-px before:w-full before:origin-left before:scale-x-0 before:bg-current before:transition-transform before:duration-300 before:content-[""] hover:before:scale-x-100;
  }
}
